In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns
#from statsmodels.tsa.seasonal import seasonal_decompose
#from statsmodels.tsa.arima.model import ARIMA
import plotly.graph_objs as go

In [2]:
df = pd.read_excel(r"C:\Users\Shreya\Downloads\Adidas US Sales Datasets.xlsx")
df

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [3]:
df.shape

(9648, 13)

In [4]:
data = pd.read_excel(r'C:\Users\Shreya\Downloads\Adidas US Sales Datasets.xlsx')
data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [23]:
data['Units Sold'].sum()

2478861.0

In [5]:
data.groupby(['Region'])['Total Sales'].sum()

Region
Midwest      135800459.0
Northeast    186324067.0
South        144663181.0
Southeast    163171236.0
West         269943182.0
Name: Total Sales, dtype: float64

## Business problems that can be solved using this dataset:
1. Sales Performance Analysis: Which products are excelling in sales, and which are underperforming?
2. Regional Market Analysis: Which stores are experiencing strong sales, and which ones are lagging?
3. Profit Margin Analysis: Does the profit margin significantly impact sales?
4. Efficiency of Sales Methods: Which sales method is more effective - in-store or online?
5. Price Optimization: Is there a specific price range that achieves better sales than others?
6. Product Portfolio Optimization I: Determine which products are most profitable, segmented by location.
7. Market Expansion Opportunities: Assess the best and worst performing stores based on their locations.
8. Time Series Analysis: Investigate whether there has been a consistent sales trend over time or any noticeable monthly trends.
9. Predictive Sales Analysis: Develop a forecast for monthly sales.

## 0. Performing Exploratory Data Analysis (EDA)

In [6]:
# Shape of the dataframe
data.shape

(9648, 13)

In [7]:
# Duplicate Rows
data.duplicated().sum()

0

In [8]:
# Info of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   datetime64[ns]
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   float64
 8   Units Sold        9648 non-null   int64
 9   Total Sales       9648 non-null   float64
 10  Operating Profit  9648 non-null   float64
 11  Operating Margin  9648 non-null   float64
 12  Sales Method      9648 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 980.0+ KB

In [9]:
# Null values
data.isnull().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

In [10]:
# Overview of the data head
data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [11]:
# Overview of the data tail
data.tail()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [12]:
# # Remove non-numeric characters from the columns
data['Total Sales'] = data['Total Sales'].astype(str).str.replace(r'[$, ]', '', regex=True).astype(float)
data['Units Sold'] = data['Units Sold'].astype(str).str.replace(r'[$, ]', '', regex=True).astype(float)
data['Operating Profit'] = data['Operating Profit'].astype(str).str.replace(r'[$, ]', '', regex=True).astype(float)
data['Operating Margin'] = data['Operating Margin'].astype(str).str.replace(r'[$, ]', '', regex=True).astype(float)

In [13]:
# Convert Invoice Date to DateTime Object.
data['Invoice Date'] = pd.to_datetime(data['Invoice Date'])

## 1. Sales Performance Analysis: Which products are excelling in sales, and which are underperforming?

In [14]:
# First lets find out the total revenue
total_revenue = data['Total Sales'].sum()
total_revenue

899902125.0

In [22]:
data.shape[0]

9648

In [ ]:
# Aggregating total sales and units sold for each product
product_sales = data.groupby('Product').agg({'Total Sales': 'sum', 'Units Sold': 'sum'}).reset_index()

# Sorting products by total sales in descending order to identify top-performing products
top_performing_products = product_sales.sort_values(by='Total Sales', ascending=False).head()

# Displaying the results
print("Top-Performing Products:")
top_performing_products

In [ ]:
# Sorting products by total sales in ascending order to identify underperforming products
underperforming_products = product_sales.sort_values(by='Total Sales', ascending=True).head()

print("\nUnderperforming Products:")
underperforming_products

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming you have the 'data' DataFrame

# Aggregating total sales and units sold for each product
product_sales = data.groupby('Product').agg({'Total Sales': 'sum', 'Units Sold': 'sum'}).reset_index()

# Sorting products by total sales in descending order to identify top-performing products
top_performing_products = product_sales.sort_values(by='Total Sales', ascending=False).head()

# Sorting products by total sales in ascending order to identify underperforming products
underperforming_products = product_sales.sort_values(by='Total Sales', ascending=True).head()

# Plotting the results
fig, axs = plt.subplots(2, 1, figsize=(10, 12))

# Plot for top-performing products
axs[0].bar(top_performing_products['Product'], top_performing_products['Total Sales'], color='green')
axs[0].set_title('Top-Performing Products')
axs[0].set_xlabel('Product')
axs[0].set_ylabel('Total Sales')
axs[0].tick_params(axis='x', rotation=45)

# Plot for underperforming products
axs[1].bar(underperforming_products['Product'], underperforming_products['Total Sales'], color='red')
axs[1].set_title('Underperforming Products')
axs[1].set_xlabel('Product')
axs[1].set_ylabel('Total Sales')
axs[1].tick_params(axis='x', rotation=45)

plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
import plotly.graph_objs as go

# Aggregating total sales and units sold for each product
product_sales = data.groupby('Product').agg({'Total Sales': 'sum', 'Units Sold': 'sum'}).reset_index()

# Sorting products by total sales in descending order to identify top-performing products
top_performing_products = product_sales.sort_values(by='Total Sales', ascending=False).head()

# Sorting products by total sales in ascending order to identify underperforming products
underperforming_products = product_sales.sort_values(by='Total Sales', ascending=True).head()

# Displaying the results
print("Top-Performing Products:")
display(top_performing_products)

print("\nUnderperforming Products:")
display(underperforming_products)

# Plotting top performing products
fig_top = go.Figure(data=[go.Bar(x=top_performing_products['Product'], y=top_performing_products['Total Sales'])])
fig_top.update_layout(title='Top-Performing Products by Total Sales', xaxis_title='Product', yaxis_title='Total Sales')

# Plotting underperforming products
fig_under = go.Figure(data=[go.Bar(x=underperforming_products['Product'], y=underperforming_products['Total Sales'])])
fig_under.update_layout(title='Underperforming Products by Total Sales', xaxis_title='Product', yaxis_title='Total Sales')

fig_top.show()
fig_under.show()

In [ ]:
product_sales = data.groupby('Product').agg({'Total Sales': sum})
product_sales

Insights: Men's Street Footware are the highest sold products with sales of $208,826,244 and the most underperforming product is Women's Athletic Footwear with sales of $106,631,896

## 2. Regional Market Analysis: Which stores are experiencing strong sales, and which ones are lagging?

In [ ]:
data.head()

In [ ]:
# For this analysis, I will find out the best and the worst performing store in each city mentioned. First I will find out how many cities and in those cities how many store exist. 
# To predict the output, - If there are X cities then the number of stores we want in out output are X times 2 -> 2X

In [ ]:
# Unique Cities
unique_cities = data['City'].unique
print(f'Unique cities:', unique_cities)

# Lets find out the number of unique cities
num_unique_cities = data['City'].nunique()
print(f'Number of unique cities:', num_unique_cities)

In [ ]:
# Group by 'City' and 'Retailer', and sum the 'Units Sold'
three_columns_grouped = data.groupby(['City', 'Retailer'])['Units Sold'].sum().reset_index()

# Sorting the results within each city to find the top and worst performing retailers
three_columns_sorted = three_columns_grouped.sort_values(by=['City', 'Units Sold'], ascending=[True, False])

# Getting the top performing retailer in each city
top_performers = three_columns_sorted.groupby('City').head(1)

# Getting the worst performing retailer in each city
worst_performers = three_columns_sorted.groupby('City').tail(1)

In [ ]:
# Display the results
print("Top Performing Retailers in Each City:")
top_performers.head()

In [ ]:

print("\nWorst Performing Retailers in Each City:")
worst_performers.head()

## 3. Profit Margin Analysis: Does the Opearing profit significantly impact sales?

In [ ]:
# We can answer the above question in the traditional long way using tables and graphs or we can also find the correlation between the Operating profit and Total Sales, if it is positive, the answer to the question is yes, and vice versa.

# Correlation bewtween Operating Profit and Total Sales
correlation = data['Operating Profit'].corr(data['Total Sales'])
correlation

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming 'data' is your DataFrame containing 'Operating Profit' and 'Total Sales'

# Correlation between Operating Profit and Total Sales
correlation = data['Operating Profit'].corr(data['Total Sales'])
print("Correlation coefficient between Operating Profit and Total Sales:", correlation)

# Scatter plot
plt.figure(figsize=(8, 6))
plt.scatter(data['Total Sales'], data['Operating Profit'], alpha=0.5)
plt.title('Operating Profit vs Total Sales')
plt.xlabel('Total Sales')
plt.ylabel('Operating Profit')
plt.grid(True)
plt.show()

0.9563 correlation indicates a strong positive correlation between Total Sales and Operating Profit.

In [ ]:
# Correlation bewtween Operating Profit and Total Sales
correlation = data['Operating Profit'].corr(data['Units Sold'])
correlation

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming 'data' is your DataFrame containing 'Operating Profit' and 'Units Sold'

# Correlation between Operating Profit and Units Sold
correlation = data['Operating Profit'].corr(data['Units Sold'])
print("Correlation coefficient between Operating Profit and Units Sold:", correlation)

# Scatter plot
plt.figure(figsize=(8, 6))
plt.scatter(data['Units Sold'], data['Operating Profit'], alpha=0.5)
plt.title('Operating Profit vs Units Sold')
plt.xlabel('Units Sold')
plt.ylabel('Operating Profit')
plt.grid(True)
plt.show()

Moreover, to add more, there is also a positive correlation between Units Sold and Operating Profit

1. The correlation is positive, 0.9563
2. This shows that as the Total Sales go up the Operating Profit also go up.
3. So the answer to question 3 is YES. Operating Profit does affect Units Sold in a positive way

## 4. Efficiency of Sales Methods: Which sales method is more effective - in-store or online?

In [ ]:
# Finding the unique column in the df

sales_method_col = data['Sales Method']
unique_sales_method_col = sales_method_col.unique()
unique_sales_method_col

In [ ]:
##### When we plot maps in plotly, it requires the state names to be 2 letter abbrivations like NY, CA, NJ, etc instead of New York, California, New Jersey. So we use a library called "us" that will help me achieve this.

In [ ]:
from us import states

state_column = data['State']

# Get the two-letter abbreviations of the state names
state_abbreviations = []
for state in state_column:
    try:
        # Lookup state by name or existing abbreviation
        state_abbreviation = states.lookup(state).abbr
    except AttributeError:
        # In case the state is not found, set the abbreviation to None
        state_abbreviation = None
    state_abbreviations.append(state_abbreviation)

# Create a new column in the dataframe with the two-letter abbreviations
data['State Abbreviation'] = state_abbreviations

In [ ]:
# Checking the contents of the new column 
data['State Abbreviation'].head()

#### 4.1 Demonstrating Total Sales by State, Product, and Sales Method in the US using Choropleth Map

In [ ]:
# Removing currency symbols and converting 'Total Sales' to numeric
data['Total Sales'] = data['Total Sales'].replace('[\$,]', '', regex=True).astype(float)

# Initialize the figure
fig = go.Figure()

# List of unique products and sales methods
products = data['Product'].unique()
sales_methods = data['Sales Method'].unique()

# Add traces for each combination of product and sales method
for product in products:
    for method in sales_methods:
        filtered_df = data[(data['Product'] == product) & (data['Sales Method'] == method)]
        state_sales = filtered_df.groupby('State Abbreviation')['Total Sales'].sum().reset_index()

        fig.add_trace(
            go.Choropleth(
                locations=state_sales['State Abbreviation'], 
                z=state_sales['Total Sales'], 
                locationmode='USA-states', 
                colorscale='Viridis',
                name=f"{product} - {method}",
                showscale=True,
                visible=False  # Initially, all traces are hidden
            )
        )

# Update layout with dropdown menus
product_buttons = [
    {'label': product, 'method': 'update', 'args': [{'visible': [trace.name.startswith(product) for trace in fig.data]}]}
    for product in products
]

sales_method_buttons = [
    {'label': method, 'method': 'update', 'args': [{'visible': [method in trace.name for trace in fig.data]}]}
    for method in sales_methods
]

fig.update_layout(
    updatemenus=[
        {'buttons': product_buttons, 'direction': 'down', 'showactive': True, 'x': 0.25, 'xanchor': 'left', 'y': 1.15, 'yanchor': 'top'},
        {'buttons': sales_method_buttons, 'direction': 'down', 'showactive': True, 'x': 0.75, 'xanchor': 'left', 'y': 1.15, 'yanchor': 'top'}
    ],
    geo=dict(scope='usa'),
    title="Total Sales by State, Product, and Sales Method"
)

# Initially displaying the first product and first sales method
if fig.data:
    fig.data[0].visible = True

fig.show()

In [ ]:
#Which method is best
# Segmenting and aggregating data by 'Sales Method'
sales_method_grouped = data.groupby('Sales Method').agg({'Total Sales': 'sum', 'Operating Profit': 'sum'})

# Calculating the Operating Margin for each sales method
sales_method_grouped['Operating Margin'] = sales_method_grouped['Operating Profit'] / sales_method_grouped['Total Sales']

sales_method_grouped

In [ ]:
import matplotlib.pyplot as plt

# Assuming 'sales_method_grouped' is your DataFrame containing the aggregated data

# Plotting the operating margin for each sales method
plt.figure(figsize=(10, 6))
sales_method_grouped['Total Sales'].plot(kind='bar', color='skyblue')
plt.title('Operating Margin by Sales Method')
plt.xlabel('Sales Method')
plt.ylabel('Operating Margin')
plt.xticks(rotation=45)
plt.grid(axis='y')
plt.show()

#### Interpreting the above table in words for easier understanding. 

1.	Total Sales:
â€¢	In-store: $356,643,750
â€¢	Online: $247,672,882
â€¢	Outlet: $295,585,493
In-store sales have the highest total sales, followed by outlet and then online sales.

2.	Operating Profit:
â€¢	In-store: $127,591,300 (approximately)
â€¢	Online: $96,555,180 (approximately)
â€¢	Outlet: $107,988,300 (approximately)
Similar to total sales, in-store sales lead in operating profit, followed by outlet and then online.

3.	Operating Margin (Operating Profit divided by Total Sales):
â€¢	In-store: 0.357756 (or 35.78%)
â€¢	Online: 0.389850 (or 38.99%)
â€¢	Outlet: 0.365337 (or 36.53%)

Here, while in-store sales have the highest total sales and profit, online sales have the highest operating margin, indicating a higher profitability relative to the sales generated.
Insights:
â€¢	In terms of Total Sales and Operating Profit: In-store sales method is the most effective, generating the highest total sales and operating profit.
â€¢	In terms of Operating Margin: Online sales are the most effective, indicating that although the total sales and operating profit are lower than in-store, the profitability relative to the sales generated is higher.

When deciding which sales method is more effective, it depends on what the business prioritizes. If the focus is on maximizing total revenue and profit, then in-store sales are more effective. However, if the focus is on efficiency in terms of profit generated per dollar of sales, then online sales are more effective.

## 5. Price Optimization: Is there a specific price range that achieves better sales than others?

In [ ]:
# Define the price bins
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

# Create a new column for the price range
data['Price Range'] = pd.cut(data['Price per Unit'], bins)

# Group by the price range and sum the total sales
sales_by_price_range = data.groupby('Price Range')['Total Sales'].sum().reset_index()

# Sorting the results to see which price range has the highest sales
sorted_sales_by_price_range = sales_by_price_range.sort_values(by='Total Sales', ascending=False)

# Results are sorted based on Total Sales 
sorted_sales_by_price_range

#### Interpreting the above table in words for easier understanding
1.	The highest total sales are in the price range of $40 to $50 ($220,666,307), indicating that products priced within this range are very popular or in high demand.
2.	The next highest sales are in the price ranges of $50 to $60 ($210,865,002) and $60 to $70 ($190,679,285). These ranges also appear to be effective in terms of sales.
3.	As the price increases beyond $70, there is a noticeable drop in total sales. For instance, the range $70 to $80 sees a significant decrease to $52,787,579.
4.	The lowest sales figures are observed in the extreme low end ($0 to $10) and high end ($110 to $130) of the price spectrum.

#### Insights:
â€¢	Products priced in the mid-range (specifically between $40 and $70) seem to be achieving the best sales. This could indicate a sweet spot for pricing where customers are more willing to purchase.

â€¢	Very low-priced products (below $20) and higher-priced products (above $90) show significantly lower sales. This might be due to various factors like perceived value, product quality, target customer segment, or availability.

â€¢	The $120 to $130 range shows no sales, indicating either a lack of products in this range or no demand for products at this price point.

#### Conclusion:
â€¢	A specific price range, notably between $40 and $70, does achieve better sales compared to other ranges.

â€¢	Understanding the reasons behind this trend would require additional qualitative analysis, such as customer preferences, product types within each price range, market competition, and promotional strategies.

â€¢	This insight can be useful for pricing strategies, inventory management, and marketing campaigns, focusing more on the price ranges that have shown higher sales volumes.

## 6. Product Portfolio Optimization: Determine which products are most profitable, segmented by location.

In [ ]:
# Grouping data by location and product
grouped_data = data.groupby(['City', 'Product']).agg({'Operating Profit': 'sum', 'Total Sales': 'sum'}).reset_index()

# Calculating Profit Margin
grouped_data['Profit Margin'] = grouped_data['Operating Profit'] / grouped_data['Total Sales']

# Sorting within each location to find the most profitable products
grouped_data.sort_values(by=['City', 'Profit Margin'], ascending=[True, False], inplace=True)

# Optionally, display the top 5 most profitable products for each city
top_products_by_city = grouped_data.groupby('City').head(5)

top_products_by_city

In [ ]:
# Grouping data by product and city and summing total sales
grouped_data = data.groupby(['Product', 'City'])['Total Sales'].sum().reset_index()

# For each product, find the city where it performs the best and the worst
best_worst_performing_cities = []

for product in grouped_data['Product'].unique():
    product_data = grouped_data[grouped_data['Product'] == product]
    best_city = product_data[product_data['Total Sales'] == product_data['Total Sales'].max()]
    worst_city = product_data[product_data['Total Sales'] == product_data['Total Sales'].min()]
    best_worst_performing_cities.extend([best_city, worst_city])

# Concatenating the results into a single DataFrame
best_worst_performing_cities_df = pd.concat(best_worst_performing_cities).reset_index(drop=True)

# Display the results
print("Best and Worst Performing Cities for Each Product:")
best_worst_performing_cities_df

### Sales and Profitability Analysis by Location

**Profitability Insights:**

In Albany, 'Women's Apparel' and 'Men's Street Footwear' are highly profitable, with profit margins around 49% and 46%, respectively.
Wilmington shows a different trend with 'Women's Apparel', 'Women's Athletic Footwear', and 'Women's Street Footwear' leading in profitability, each around 40%.

**Sales Performance Insights:**

New York excels in sales of 'Men's Apparel', 'Men's Athletic Footwear', and 'Women's Athletic Footwear', indicating a strong market for these products.
Charleston and San Francisco are top performers for 'Men's Street Footwear' and 'Women's Street Footwear', respectively.
Omaha consistently shows the lowest sales across various products, suggesting limited market penetration or demand.

**Overall Implications:**

Product popularity and profitability vary significantly by city, indicating the need for tailored marketing and sales strategies in different locations.
The contrasting trends between cities like Albany, Wilmington, and Omaha highlight diverse consumer preferences, underscoring the importance of a location-specific approach in sales and marketing strategies.

## 7. Market Expansion Opportunities: Assess the best and worst performing stores based on their locations.

In [ ]:
# Convert the dictionary to a DataFrame, if not already done
df = pd.DataFrame(data)

# Grouping Data by both City and Store Name
grouped_data = df.groupby(['City', 'Retailer']).agg({
    'Total Sales': 'sum',
    'Operating Profit': 'sum'
}).reset_index()

# Calculating Performance Metrics
grouped_data['Profit Margin'] = grouped_data['Operating Profit'] / grouped_data['Total Sales']

# Sorting by Total Sales and Profit Margin
grouped_data = grouped_data.sort_values(by=['City', 'Total Sales', 'Profit Margin'], ascending=[True, False, False])

# Displaying the grouped data
print("Store Performance by City:")
grouped_data

**Summary**

The data has been aggregated to show the performance of different retail stores in various cities.
The key metrics considered are Total Sales, Operating Profit, and Profit Margin.
Stores are grouped by city and retailer, providing a clear view of each store's performance in its respective location.

Insights

**Top Performers:**

In Albany, 'West Gear' emerges as the top performer with a total sales of approximately $20.7 million and a profit margin of about 38.9%. This is significantly higher than 'Kohl's' in the same city, which has a total sales of around $3.7 million with a profit margin of 37%.
In Albuquerque, 'Kohl's' leads with a total sales of $17.1 million and a profit margin of approximately 33.9%.

**Comparative Store Performances:**

In cities with multiple listed retailers, such as Albuquerque and Wichita, there is a noticeable difference in both sales and profit margins between stores. For example, in Albuquerque, 'Kohl's' not only has higher total sales but also a slightly lower profit margin compared to 'Sports Direct'.

**Profit Margins Analysis:**

Profit margins vary across cities and stores. While 'West Gear' in St. Louis has a high profit margin of 40.1%, other stores like 'Amazon' in Anchorage show lower profit margins (31%).

**Sales vs. Profit Margins:**

There is not always a direct correlation between high sales and high profit margins. For instance, 'Kohl's' in Wichita has higher sales than 'Foot Locker' in the same city, yet their profit margins are fairly close (35.3% for Kohl's vs. 34.9% for Foot Locker).

**Regional Variations:**

The data indicates potential regional variations in store performance. Stores in different cities under the same brand (like 'Kohl's' in Albany vs. Albuquerque) show different levels of sales and profit margins, suggesting that location is a significant factor in retail performance.

**Conclusion**

This analysis provides valuable insights into the performance of retail stores across different cities, highlighting the importance of location in sales and profitability. The data can be used to identify strong and weak performing areas, optimize operations, and strategize for market expansion or improvement.

## 8. Time Series Analysis: Investigate whether there has been a consistent sales trend over time or any noticeable monthly trends.

In [ ]:
# Group by month and calculate total sales for each month
monthly_sales = data.groupby(data['Invoice Date'].dt.to_period('M'))['Total Sales'].sum()

# Convert the index (which is of type 'Period') to DateTime objects
monthly_sales.index = monthly_sales.index.to_timestamp()

# Setting the style for a more aesthetic plot
sns.set(style="whitegrid")

# Plotting the sales trends over time
plt.figure(figsize=(12, 7))
plt.plot(monthly_sales.index, monthly_sales.values, marker='o', color='teal', linestyle='-', linewidth=2)
plt.xlabel('Month', fontsize=12)
plt.ylabel('Total Sales', fontsize=12)
plt.title('Monthly Sales Trends', fontsize=14)
plt.xticks(rotation=0)
plt.tick_params(axis='both', which='major', labelsize=10)
plt.tight_layout()
plt.show()

#### Summary:

Monthly sales data from January 2020 to January 2022 exhibit significant variability with notable peaks around April 2021 and consistent increases in December and April of each year, potentially correlating with holiday seasons and sales promotions. The data show a general upward trend in sales over the two-year period, despite some notable dips, particularly in July 2020 and October 2021.

#### Insights:

The observed seasonal patterns, with sales spikes and dips, highlight the importance of understanding customer purchasing behavior and the impact of seasonality on sales. By leveraging these insights, businesses can align their marketing efforts, inventory management, and resource allocation with anticipated periods of high demand, ensuring that opportunities are maximized during peak seasons. This strategic approach can lead to better preparation for demand surges, improved customer satisfaction, and overall enhanced business performance.